ul {
    list-style: none;
    display: flex;
}

nav {
    padding: 5px;
    display: flex;
    justify-content: space-between;
    border-bottom-style:solid;
}

footer {
    display: flex;
    justify-content: center;
    border-top-style: dashed;
}

a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    margin: 2px;
}
img {
    height: 50vh;
    width: 35vh;
    margin: 10px;
}

nav > div > h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
    font-weight: 1000;
}

main {
    display: flex;
    height: 75vh;
    padding: 5px;
    margin: 5px;
}

article {
    max-width: 50vw;
}

form {
    display: flex;
    flex-direction: column;
}

#blogs-page {
    justify-content: space-between;
}

#contact-page {
    align-items: flex-start;
    justify-content: space-evenly;
}
