body {
  margin: 0;
  padding: 0;
}
nav > ul {
  font-size: large;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 2px;
  margin-right: 2px;
}

nav > ul > li {
  margin-right: 2px;
  margin-left: 2px;
}

nav {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  border-bottom-style: solid;
}
footer {
  display: flex;
  justify-content: center;
  border-top-style: dashed;
}
a {
  text-decoration: none;
  color: black;
  margin: 2px;
}
img {
  margin: 10px;
}
nav > div > h2 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: x-large;
  font-weight: 1000;
}
main {
  display: flex;
  height: 75vh;
  padding: 5px;
  margin: 5px;
}
article {
  height: 75vh;
  max-width: 50vw;
}
form {
  margin: 5px;
  padding: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

button {
  margin-top: 15px;
  width: 100px;
}
.project {
  margin: 5px;
  height: max-content;
  width: max-content;
  display: flex;
  flex-direction: column;
  border: 2px;
  justify-content: center;
  align-items: center;
  border-style: groove;
}

.background {
  background-image: linear-gradient(
    to right,
    rgb(230, 235, 163, 0.5),
    rgb(219, 230, 60, 0.5)
  );
}
#project-page {
  justify-content: space-evenly;
  align-items: center;
}

#blogs-page {
  justify-content: space-between;
}

#contact-page {
  align-items: center;
  justify-content: center;
}

#contact-box {
  height: 55vh;
  width: 40vw;
  min-height: max-content;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 5px;
  border-style: dotted;
}

#contact-box > h2 {
  font-size: xx-large;
  font-weight: 700;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#socials {
  max-width: max-content;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

#socials > li {
  padding: 2px;
  margin: 2px;
}
