body {
    padding: 0;
    margin: 0;
    background-image: radial-gradient(rgb(250, 247, 215), rgba(214, 199, 30, 0.639));
}


@media (min-width : 768px) {
    header {
    background-color: rgba(57, 163, 228, 0.715);
    position: relative;
    max-height: max-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    margin: 0;
    padding: 10px;
}

marquee {
    margin-top: 20px;
    font-size: larger;
}



nav > ul {
    display: flex;
    padding-left: 5px;
    padding-right: 5px;
    list-style: none;

}

nav > ul > li {
    padding: 5px;
}

footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(57, 163, 228, 0.715);;
}


.product-card {
    display: flex;
    flex-direction: column;
    max-height: fit-content;
    max-width: fit-content;
    border-style: solid;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}


#logo {
    display: flex;
}

#hero-banner {
    background-image: url("./download.png");
    background-size: cover;
    min-height: 90vh;
    min-width: 95vw;
}

#product-section {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 10px;
   margin: 10px;
   margin-bottom: 20px;
   justify-items: center;
}

#product-section-heading {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: xx-large;
    justify-self: center;
}
}

header {
    background-color: rgba(57, 163, 228, 0.715);
    position: relative;
    max-height: max-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    margin: 0;
    padding: 10px;
}

marquee {
    margin-top: 20px;
    font-size: larger;
}



nav > ul {
    display: flex;
    padding-left: 5px;
    padding-right: 5px;
    list-style: none;

}

nav > ul > li {
    padding: 5px;
}

footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(57, 163, 228, 0.715);;
}


.product-card {
    display: flex;
    flex-direction: column;
    max-height: fit-content;
    max-width: fit-content;
    border-style: solid;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}


#logo {
    display: flex;
}

#hero-banner {
    background-image: url("./download.png");
    background-size: cover;
    min-height: 90vh;
    min-width: 95vw;
}

#product-section {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 10px;
   margin: 10px;
   margin-bottom: 20px;
   justify-items: center;
}

#product-section-heading {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: xx-large;
    justify-self: center;
}


@media (max-width : 768px){

    #hero-banner {
    background-image: url("./download.png");
    background-size:contain;
    min-height: 100vh;
    min-width: 100vw;
}

    #product-section {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
        margin: 10px;
        margin-bottom: 20px;
        justify-items: center;
    }
}

@media (min-width : 768px) and (max-width : 1020px){

    #product-section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        margin: 10px;
        margin-bottom: 20px;
        justify-items: center;
    }
}