body {
  padding: 0;
  margin: 0;
  background-image: radial-gradient(
    rgb(250, 247, 215),
    rgba(214, 199, 30, 0.639)
  );
}

header {
  background-color: rgba(57, 163, 228);
  max-height: max-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

marquee {
  margin-top: 20px;
  font-size: larger;
}

footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(57, 163, 228);
}

h1 {
  margin: 0;
  padding: 10px;
}

.product-card {
  display: flex;
  flex-direction: column;
  max-height: fit-content;
  max-width: fit-content;
  border-style: solid;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.nav-links {
  position: absolute;
  background-color: rgba(57, 163, 228);
  top: 53px;
  left: 0;
  width: 100%;
  flex-direction: column;
  align-items: center;
  display: none;
  list-style: none;
}

.nav-links li {
  padding: 1rem 0;
}

.nav-links li a {
  text-decoration: none;
  color: white;
  font-size: large;
}

.hamburger {
  display: block;
}

#logo {
  display: flex;
}

#toggle-menu {
    display: none;
}

#hero-banner {
  background-image: url("./download.png");
  background-size: contain;
  min-height: 100vh;
  min-width: 100vw;
}

#product-section {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
  margin: 10px;
  margin-bottom: 20px;
  justify-items: center;
}

#product-section-heading {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: xx-large;
  justify-self: center;
}

#toggle-menu:checked + .hamburger + .nav-links {
  display: flex;
}


@media (min-width: 768px) and (max-width: 1020px) {

  .nav-links {
    display: flex;
    position: static;
    width: auto;
    flex-direction: row;
  }

  .nav-links li {
    padding: 10px;
  }

  #product-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin: 10px;
    margin-bottom: 20px;
    justify-items: center;
  }

  #hero-banner {
    background-image: url("./download.png");
    background-size: cover;
    min-height: 90vh;
    min-width: 95vw;
  }

  #toggle-menu {
    display: none;
  }

  .hamburger {
    display: none;
  }
}


@media (min-width: 1020px) {
  
  .nav-links {
    display: flex;
    position: static;
    width: auto;
    flex-direction: row;
  }

  .nav-links li {
    padding: 10px;
  }

  #hero-banner {
    background-image: url("./download.png");
    background-size: cover;
    min-height: 90vh;
    min-width: 95vw;
  }

  #toggle-menu {
    display: none;
  }

  .hamburger {
    display: none;
  }

  #product-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: 10px;
    margin-bottom: 20px;
    justify-items: center;
  }
}
